<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListUser</title>
</head>
<body>
<button><a th:href="@{/product/add}">Create</a></button>
    <table border="1px solid black">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Detail</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        <tr th:each="product, state: ${listProduct}">
            <td th:text= "${state.count}"> </td>
            <td th:text= "${product.name}"> </td>
            <td th:text= "${product.detail}"> /td>
            <td th:text= "${product.price}"></td>

            <td>
                <button>edit</button>
                <button>delete</button>
            </td>
        </tr>

    </table>

</body>
</html>